body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEF0EC;
    color: #333;
    line-height: 1.6;
}

.media-container-wrapper {
    position: relative;
    padding: 20px;
}

.media-container-wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #88B04B;
}

.media-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.media-item {
    display: flex;
    align-items: center;
    flex: 1;
    border-bottom: 1px solid #ddd;
}

.media-item:last-child {
    border-bottom: none;
}

/* portraitモードでのみ適用されるスタイル */
@media screen and (orientation: portrait) {
  .media-container {
    display: grid;
    grid-template-columns: 1fr; /* portrait表示では1列 */
    gap: 20px;
  }

  .media-item {
    display: flex;
    flex-direction: column;
  }

  .media-item iframe,
  .media-item img {
    max-height: 300px; /* コンテンツの最大高さ */
    width: 100%;
    object-fit: contain;
  }

  .media-caption {
    max-height: 150px; /* 説明文の最大高さ */
    overflow-y: auto; /* スクロールバー */
    margin-top: 10px;
    color: #88B04B;
  }
}

/* landscapeモードでのみ適用されるスタイル */
@media screen and (orientation: landscape) {
    .media-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 2px;
        background-color: lightgray;
    }

    .media-item {
        background-color: #FEF0EC;
        flex-direction: row; /* 常に左から右に表示 */
    }

    .media-item img,
    .media-item iframe {
        width: 50%;
        height: 50vh;
        margin-right: 20px;
        margin-left: 0;
    }

    .media-caption {
        width: 50%;
        text-align: left;
        padding: 0 20px;
        color: #88B04B;
    }
}
