body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEF0EC;
    color: #333;
    line-height: 1.6;
}

.media-container-wrapper {
    position: relative;
    padding: 20px;
}

.media-container-wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #88B04B;
}

.media-container {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 20px;
}

.media-item {
    display: flex;
    border-bottom: 1px solid #ddd;
    background-color: #FEF0EC;
}

.media-item:last-child {
    border-bottom: none;
}

.media-item img,
.media-item iframe {
    width: 100%;
    object-fit: contain;
}

.media-caption {
    color: #88B04B;
}

/* portraitモードでのみ適用されるスタイル */
@media screen and (orientation: portrait) {
    .media-container {
        grid-template-columns: 1fr;
    }

    .media-item {
        flex-direction: column;
    }

    .media-item img,
    .media-item iframe {
        max-height: 300px;
    }

    .media-caption {
        max-height: 150px;
        overflow-y: auto;
        margin-top: 10px;
    }
}

/* landscapeモードでのみ適用されるスタイル */
@media screen and (orientation: landscape) {
    .media-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
    }

    .media-item {
        flex-direction: row;
	align-items: center;
    }

    .media-item img,
    .media-item iframe {
        width: 50%;
        height: 50vh;
        margin-right: 20px;
    }

    .media-caption {
        width: 50%;
        text-align: left;
        padding: 0 20px;
    }
}
